* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; 
    color: #fff;
    font-family: 'Arial', sans-serif;
    overflow: hidden; 
  }
  
  .welcome-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../assets/images/fondo-principal.jpg), radial-gradient(circle, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));; /* Reemplaza esta URL con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    filter: blur(4px); 
    z-index: -1; 
    height: 100%; 
  }
  
  .welcome-content {
    text-align: center;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 10px;
  }
  
  .welcome-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .welcome-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.5;
  }
  
  .shop-now-btn {
    background-color: #ffcc00;
    color: #222;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .shop-now-btn:hover {
    background-color: #e6b800;
  }
  